---
---

@import "minimal-mistakes";


/*.masthead::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #6691e7,
    #9b6dff,
    #ff8c42
  );
}*/